@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;   
}

body {
    background-image: linear-gradient(to bottom, #45C4B0 ,#13678A);
}

main {
    background-color: white; /*cor de fundo */
    border-radius: 10px; /* borda arredondada nas pontas */
    box-shadow: 2px 2px 5px #7bbd838f; /*sombra que o box projeta (1-sombra pro lado direito; 2-sombra pra baixo;3- o quanto a sombra espalha; 4- a cor da sombra */
    width: 600px; /* largura do main */
    padding: 10px; /*espaçamento nas pontas(como margens) */
    margin: auto; /*centraliza o main independente do tamanho da tela */
    height: auto; /*o main vai ocupar 100% da tela */
    background-attachment: fixed; /* fixa o degradê à tela do top do bottom
}

h1 {
    color: #01293de3;
    text-align: center;
    text-shadow: 1px 1px 2px #011722c5; /*sombra no texto */
}

h2 {
    color: #8ed897;
}

p {
    text-align: justify;
}