@charset "UTF-8";

/*mobile first*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: rgba(211, 211, 211, 0.596);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: skyblue; 
    padding: 10px;
}

header h1 {
    text-align: center;
}

#burguer {
    background-color: gray;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover {
    background-color: white;
    color: black;
}

nav {
    display: none;
}

nav ul {
    list-style: none;
}

nav li {
    background-color: rgb(50, 131, 163);
    padding: 5px;
    margin-left: 5px;
    border-top: 2px solid rgba(211, 211, 211, 0.596);
}

nav a {
    text-decoration: none;
    text-align: center;
    display: block;
    color: white;
    padding: 5px;
}

nav li:hover {
    background-color: rgb(60, 157, 196);
}

main {
    background-color: rgba(211, 211, 211, 0.596);
    margin-bottom: 20px;
}

article {
    background-color: white;
    width: 90vw;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.212);
}

article h2 {
    margin-bottom: 10px;
}

article p {
    text-align: justify;
    text-indent: 20px;
    margin-top:5px;
}


